* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.herosection {
    /* height: 740px; */
    width: 100%;
    background-image: url(../assets/james-barr-zy5JTdcC0fE-unsplash\ 1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Lato', sans-serif;
}

.max_width {
    width: 100%;
    max-width: 90%;
    margin: 0px auto;
}

.mobile-nav-icon {
    display: none;
}

.nav-menus {
    padding-top: 33px;
    margin-bottom: 136px;
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

.navigation-bar-section li {
    margin-left: 30px;
}

.navigation-bar-section a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    color: rgba(64, 64, 64, 1);
}

.paul-amusan-section-fullname {
    margin-bottom: 24px;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
    color: rgba(64, 64, 64, 1);
}

.paul-amusan-section-text {
    width: 467px;  
    margin-bottom: 32px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: rgba(64, 64, 64, 1);
}

.paul-amusan-section button {
    background-color: transparent;
    padding: 26px 62px;
    outline: none;
    border: 1px solid #404040;
}

.paul-amusan-section button a {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    color: rgb(17, 15, 15);
    text-decoration: none;
}

.paul-amusan-section button:hover {
    border: 1px solid white;
}

.paul-amusan-section button a:hover {
    color: white;
    font-weight: 500;
}

.social-media-icons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.icon-margin-bottom {
    margin-bottom: 29.5px;
}

@media (max-width: 768px) {
    .herosection {
        background-image: url(../assets/james-barr-zy5JTdcC0fE-unsplash\ 2.png);
        padding: 0px 0px 56px 0px;
    }

    .mobile-nav-icon {
        display: block;
        cursor: pointer;
    }
    
    .nav-menus {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 35%;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menus a {
        font-size: 13px;
    }

    .nav-link:hover {
        background-color: rgba(64, 64, 64, 1);
        color: white;
    }

    .nav-menus.active {
        left: 0;
    }

    .nav-menu li {
        margin: 2.5rem 0;
    }

    .mobile-nav-icon {
        display: block;
        padding-top: 37px;
        cursor: pointer;
    }

    .mobile-nav-icon.active {
        opacity: 0.4;
    }

    .paul-amusan-section {
        padding-top: 527px;
    }

    .paul-amusan-section-fullname {
        margin-bottom: 16px;
        font-size: 24px;
        line-height: 28.8px;
        letter-spacing: 0em;
        color: rgba(242, 242, 242, 1);
    }

    .paul-amusan-section-text {
        width: 75%;  
        margin-bottom: 14px;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0em;
        color: rgba(242, 242, 242, 1);
    }

    .paul-amusan-section button {
        background-color: transparent;
        padding: 16px 32px;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        color: rgba(64, 64, 64, 1);
        border: 1px solid #404040;
    }

    .paul-amusan-section a {
        font-size: 14px;
    }

    .social-media-icons {
        display: none;
    }
}

@media (min-width: 500px) and (max-width: 768px) {

    .paul-amusan-section {
        padding-top: 527px;
    }

    .paul-amusan-section-fullname {
        margin-bottom: 16px;
        font-size: 38px;
        line-height: 40px;
        letter-spacing: 0em;
        color: rgba(242, 242, 242, 1);
    }

    .paul-amusan-section-text {
        width: 75%;  
        margin-bottom: 14px;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0em;
        color: rgba(242, 242, 242, 1);
    }

    .paul-amusan-section button {
        background-color: transparent;
        padding: 16px 52px;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        color: rgba(64, 64, 64, 1);
        border: 1px solid #404040;
    }

}

/* Section about me starts here */
.aboutme {
    padding: 69px 0px 0px 0px;
    color: rgba(64, 64, 64, 1);

}

.aboutme-detail-container {
    display: flex;
}

.aboutme-detail-container-pic {
    background-image: url(../assets/about\ me\ pic.png);
    background-position: center;
    background-size: cover;
    height: 636.7791748046875px;
    width: 505px;
}

.aboutme-detail-container-text {
    width: 715px;
    margin-left: 20px;
    color: rgba(64, 64, 64, 1);
}

.aboutme-detail-container-text-one {
    margin: 17px 0px 38px 0px;
    font-size: 32px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
}

.aboutme-detail-container-text-two {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
}

.about-me-mobile-view {
    display: none;
}

@media (max-width: 768px) {
    .aboutme {
        padding-top: 48px;
    }

    .aboutme-detail-container-pic {
        height: 203px;
        width: 40%;
    }

    .aboutme-detail-container-text {
        width: 57%;
        margin-left: 20px;
    }

    .about-me-mobile-view {
        display: flex;
        margin: 0px 0px 38px 0px;
        justify-content: center;
        font-size: 20px;
        font-weight: 700;
        line-height: 21px;
    }

    .aboutme-detail-container-text-one {
        display: none;
    } 
    
    .aboutme-detail-container-text-two{
        font-size: 9px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0em;
    }
}

@media screen and (min-width: 650px) and (max-width: 768px) {

    .aboutme {
        padding: 28px 0px 0px 0px;
    }

    .aboutme-detail-container-pic {
        height: 383px;
    }

    .about-me-mobile-view {
        font-size: 25px;
        line-height: 22px;
    }

    .aboutme-detail-container-text-one {
        display: none;
    } 
    
    .aboutme-detail-container-text-two{
        font-size: 12px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
    }
}
/* Gallery */

.gallery-section-text {
    text-align: center;
    color: rgba(64, 64, 64, 1);
}

.gallery-section-text-one {
    margin-bottom: 16px;
    font-size: 32px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
}

.gallery-section-text-two {
    margin-bottom: 40px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
}

.box {
    height: 516px;
    width: 32%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}

.gallery-section-image-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gallery-section-image-flex-one {
    background-image: url(../assets/pic\ 1.png);
}

.gallery-section-image-flex-two {
    background-image: url(../assets/pic\ 3.png);
}

.gallery-section-image-flex-three {
    background-image: url(../assets/pic\ 5.png);
}

.gallery-section-image-flex_a {
    margin-top: 40px;
}

.gallery-section-image-flex-four {
    background-image: url(../assets/pic\ 2.png);
}

.gallery-section-image-flex-five {
    background-image: url(../assets/pic\ 6.png);
}

.gallery-section-image-flex-six {
    background-image: url(../assets/pic\ 4.png);
}

.slider-container {
    display: none;
}

.gallery-section-button-space {
    margin-top: 30px;
    color: rgba(64, 64, 64, 1);
    text-align: center;
}

.gallery-section-button-space button {
    padding: 27px 26px 26px 42px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    outline: none;
    border: 1px solid #404040;
}

.gallery-section-button-space img {
    padding-left: 18px;
}

@media (max-width: 768px) {
    .gallery-section-text {
        text-align: center;
        color: rgba(64, 64, 64, 1);
    }
    
    .gallery-section-text-one {
        margin-bottom: 8px;
        font-size: 20px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0em;
    }
    
    .gallery-section-text-two {
        margin-bottom: 24px;
        font-size: 10px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
    }

    .gallery-section-image-flex {
        display: none;
    }

    .slider-container {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .carousel-carousel-mobile-container {
        transition: all 0.3s ease;
    }
    
    .slider-carousel-carousel-mobile-container {
        height: 310px;
        width: 262px;
        margin: auto;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .item {
        display: none;
    }
      
    .main {
        display: block;
    }

    .navigation-for-mobile .prev {
      position: absolute;
      top: 130px;
      left: 15px;
    }

    .navigation-for-mobile .next {
        position: absolute;
        right: 15px;
        top: 130px;
    }

    .navigation .nav-btn {
      cursor: pointer;
    }

    .navigation-for-mobile i {
        font-size: 15px;
        color: black;
    }

    .gallery-section-button-space button {
        padding: 9px 12px;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        border: 1px solid #404040;
    }
    
    .gallery-section-button-space img {
        padding-left: 8px;
    }
}

@media screen and (min-width: 650px) and (max-width: 768px){
    
    .gallery-section-text-one {
        font-size: 25px;
    }
    
    .gallery-section-text-two {
        font-size: 13px;
    }

    .gallery-section-image-flex {
        display: none;
    }
    
    .slider-carousel-carousel-mobile-container {
        height: 390px;
        width: 312px;
        margin: auto;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .item {
        display: none;
    }
      
    .main {
        display: block;
    }

    .navigation-for-mobile .prev {
        left: 40px;
      }
  
      .navigation-for-mobile .next {
          right: 40px;
      }

    .navigation-for-mobile i {
        font-size: 20px;
    }

    .gallery-section-button-space button {
        padding: 13px 14px;
    }
  
}

.partners {
    padding: 56px 0px 58.1px 0px;
}

.partner-logo-text-two {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
}

.partners_logo_flex {
    padding: 34px 20px 0px 20px;
    display: flex;
    justify-content: space-between;
}

.partners_logo_flex-general {
    width: 30%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.partners_logo_flex-one {
    background-image: url(../assets/Group.png);
    height: 102px;
}

.partners_logo_flex-two {
    background-image: url(../assets/layer1.png);
    height: 75px;
}

.partners_logo_flex-three {
    background-image: url(../assets/Group\ 1.png);
    height: 123.9px;
}

@media screen and (max-width: 768px) {
    .partners {
        padding: 54px 0px 45.7px 0px;
    }

    .partner-logo-text-one {
        font-size: 20px;
        font-weight: 700;
        line-height: 21px;
    }

    .partner-logo-text-two {
        padding-top: 8px;
        font-size: 10px;
        font-weight: 400;
        line-height: 21px;
    }

    .partners_logo_flex {
        padding-top: 34px;
        display: flex;
        justify-content: space-between;
    }

    .partners_logo_flex-general {
        width: 30%;
        height: 42px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    
}


@media screen and (min-width: 650px) and (max-width: 768px) {

    .partner-logo-text-one {
        font-size: 25px;
    }

    .partner-logo-text-two {
        font-size: 13px;
        font-weight: 400;
        line-height: 21px;
    }

    .partners_logo_flex {
        padding-top: 34px;
        display: flex;
        justify-content: space-between;
    }
}


/*form section start here */
.section-form-flex {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}

.section-form-flex-one {
    width: 45%;
    height: 637px;
    background-image: url(../assets/about\ me\ pic.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-form-flex-two {
    width: 52%;
    margin-top: 52px;
}

.section-form-flex-two-form-input {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-form-flex-two-form-input span {
    color: #404040;
    font-size: 24px;
    font-weight: 400;
    line-height: 21px;
}

.section-form-flex-two-form-input input {
    width: 81%;
    height: 60px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #404040;
}

.section-form-flex-two-form-input textarea {
    width: 81%;
    height: 228px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #404040;
}

.section-form-flex-two button {
    background-color: transparent;
    margin-left: 100px;
    padding: 19px 91px;
    color: #404040;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    border: 1px solid #404040;
}

@media (max-width: 768px) {

    .partner-logo-text-two {
        font-size: 13px;
    }


    .section-form-flex {
        margin-top: 0px;
        flex-direction: column;
        justify-content: center;
        /*justify-content: space-between;*/
    }

    
    .section-form-flex-one {
       display: none;
    }
    
    .section-form-flex-two {
        width: 100%;
        margin-top: 22px;
    }

    .section-form-flex-two-form {
        width: 90%;
        margin: 0px auto;
        display: flex;
        flex-direction: column;
    }
    
    .section-form-flex-two-form-input {
        margin-bottom: 16px;
        display: flex;
        flex-direction: column;
    }
    
    .section-form-flex-two-form-input span {
        margin-bottom: 8px;
        font-size: 14px;
        align-self: flex-start;
    }
    
    .section-form-flex-two-form-input input {
        width: 100%;
        height: 40px;
        border-radius: 4px;
        align-self: flex-start;
    }
    
    .section-form-flex-two-form-input textarea {
        width: 100%;
        height: 141px;
        outline: none;
        border-radius: 4px;
        align-self: flex-start;
    }

    .section-form-flex-two-form-button {
        padding-top: 16px;
        display: flex;
        flex-direction: column;
    }
    
    .section-form-flex-two button {
        padding: 20px 45px;
        font-size: 14px;
        align-self: flex-end;
    }
}

@media screen and (min-width: 650px) and (max-width: 768px) {
    
    .section-form-flex-two-form-input span {
        margin-bottom: 8px;
        font-size: 16px;
    }
    
    .section-form-flex-two-form-input input {
        height: 50px;
    }
    
    .section-form-flex-two-form-input textarea {
        height: 161px;
    }
}

.footer {
    margin-top: 44px;
    padding: 10px 0px 38px 0px;
}

.footer-group {
    text-align: center;
}

.footer-group-copyright {
    margin-bottom: 13px;
    color: #404040;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

.footer-group-icons {
    width: 142px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .footer {
        margin-top: 56px;
    }
    
    .footer-group-copyright {
        margin-bottom: 18px;
    }
}