* {
    margin: 0;
    padding: 0;
}

.hero-section {
    width: 100%;
    height: 740px;
    background-image: url(../image/fashion.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.btn_harmburger{
    display: none;
}

.nav_list {
    background-color: transparent;
    padding: 26px 92px 26px 0px;
    display: flex;
    justify-content: flex-end;
}

.nav_list-item {
    margin-left: 30px;
    display: flex;
    font-family: 'Lato';
    color: #A6A6A6;
}

.nav_list a {
    color: currentColor; /*currentcolor makes it inherit the parent clor and we can also use inherit*/
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
}

.inner-section {
    width: 100%;
    max-width: 1240px;
    margin: 0px auto;
}

.profile {
    width: 100%;
    padding-top: calc(181px - 71px);
    max-width: 467px;
}

.self {
    margin-bottom: 24px;
    color: #404040;
    font-family: 'Lato';
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
}

.aboutme {
    margin-bottom: 24px;
    color: #404040;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
}

.profile button {
    background-color: transparent;
    color: #404040;
    padding: 26px 62px;
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    border: 1px solid #404040;
}

.icons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.icons li {
    display: flex;
    font-size: 24px;
    margin-right: 92px;
}

.icons a {
    color: #404040;
}

.icons li + li {
    margin-top: 29.5px;
}

/*end of hero-section*/

/* about section start here */

.mobileviewabt {
    display: none;
}


.about-section {
    background-color: #F2F2F2;
    width: 100%;
}

.about_me {
    display: flex;
}

.image {
    padding-top: 69px;
    padding-bottom: 3.22px;
}

.details {
    width: 715px;
    padding-left: 20px;
    padding-top: 86px;
    padding-bottom: 60px;
}

.intro {
    padding-bottom: 38px;
    color: #404040;
    font-family: "Lato";
    font-size: 32px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;

}

.details p {
    margin-bottom: 13px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: #404040;
}

/* about section ends here*/

/*section gallery start here*/

.section-gallery {
    background-color: #F2F2F2;
}

.gallery_text {
    text-align: center;
}

.gallery_text h2 {
    padding-top: 12px;
    padding-bottom: 16px;
    color: #404040;
    font-family: 'Lato';
    font-size: 32px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;   
}

.gallery_text p {
    color: #404040;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
}

.slider {
    display: none;
}

.gallery {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gallery-image {
    padding-top: 40px;
}

.view_button {
    padding-top: 30px;
    padding-bottom: 56px;
    text-align: center;
    position: relative;
}

.view_button button {
    background-color: transparent;
    padding: 27px 0px 26px 42px;
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    border: 1px solid #404040;

}

.arrow {
   padding: 38px 28px 36px 18px;
}

/*section gallery ends here*/

/*section client start here*/

.section-client {
    background-color: #F2F2F2;
}

.our-clients {
    text-align: center;
}

.our-clients h3 {
    padding-bottom: 16px;
    padding-top: 19px;
    font-family: 'Lato';
    font-size: 32px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    color: #404040;
}

.our-clients p {
    padding-bottom: 24px;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    color: #404040;
}

.logo_client {
    display: flex;
    justify-content: space-between;
    padding-bottom: 58.1px;
}

.logo_1 {
    align-self: center;
}

.logo_2 {
    align-self: center;
}

/*section client ends here*/

/*section form start here*/

.section_form {
    background-color: #F2F2F2;
}

.contact_me {
    text-align: center;
    
}

.contact_me h2 {
    padding-top: 30px;
    color: #404040;
    font-family: 'Lato';
    font-size: 32px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em; 
}

.contact_me p {
    padding-top: 16px;
    padding-bottom: 24px;
    color: #404040;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
}

.form_image {
    display: flex;
    justify-content: space-between;
}



.form_a {
    margin-top: 38px;
}

.form_b {
    display: flex;
    padding-bottom: 40px;
}

.form_b input{
    background-color: transparent;
    height: 60px;
    width: 505px;
    border: 1px solid #404040;
    border-radius: 5px;

}

.form_a p{
    margin-top: 18px;
    font-family: 'Lato';
    font-size: 24px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    color: #404040;
}

.name {
    margin-left: 42px;
}

.email {
    margin-left: 46px;
}

.subject {
    margin-left: 26px;
}

.text_area {
    display: flex;
}

.text_area textarea {
    background-color: transparent;
    width: 505px;
    height: 228px;
    margin-left: 12px;
    border-radius: 5px;
    border: 1px solid #404040;
}

.form_a button{
    background-color: transparent;
    margin-left: 105px;
    margin-top: 71px;
    margin-bottom: 44px;
    padding: 20px 91px 19px 92px;
    border: 1px solid #404040;
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    color: #404040;
}
/*ends here*/

/*footer start here*/

footer {
    background-color: #F2F2F2;
}

.footer-area {
    text-align: center;
}

.footer-area p {
    padding-top: 10px;
    color: #404040;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.icons-footer {
    padding-top: 13px;
    display: flex;
    justify-content: center;
}

.icons-footer li {
    display: flex;
    font-size: 24px; 
    padding-left: 35px;
}


.icons-footer a {
    color: #404040;
}
/*end here*/

@media screen and (max-width: 414px) {
    .hero-section {
        width: 100%;
        height: 896px;
        background-image: url(../image/mobileview.png);
        background-size: cover;
        background-position: center;
    }

    .navigation {
        display: none;
    }

    .icons {
        display: none;
    } 

    .btn_burger {
        width: 100%;
        max-width: 374px;
        padding-top: 37px;
        margin: 0px auto;
    }

    .btn_harmburger  {
        width: 100%;
        display: flex;
        background-color: transparent;
        border: none;
    }

    .inner-section {
        width: 100%;
        max-width: 374px;
        margin: 0px auto;
    }

    .profile {
        padding-top: calc(584px - 37px);
        max-width: 500px;
    }

    .self{
        margin-bottom: 16px;
        color: #F2F2F2;
        font-family: Lato;
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: 0em;
    }

    .aboutme {
        width: 284px;
        margin-bottom: 14px;
        color: #F2F2F2;
        font-family: 'Lato';
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
    }

    .profile button {
        background-color: transparent;
        padding: 19px 56px;
        font-family: Lato;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        color: #404040;
        font-family: 'Lato';
        border: 1px solid #404040;
        margin-bottom: 37px;
    }

    .intro {
        display: none;
    }

    .mobileviewabt {
        color: #404040;
        padding-top: 48px;
        padding-bottom: 32px;
        justify-content: center;
        font-family: 'Lato';
        font-size: 20px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0em;
        display: flex;
    }

    .about_me img {
        height: 203px;
        width: 111px;
    }

    .image {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .details {
        width: 243px;
        padding-left: 20px;
        padding-top: 0px;
        padding-bottom: 0px;
    }


    .details p  {
        color: #404040;
        font-family: 'Lato';
        font-size: 9px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0em;
    }

    .gallery_text h2 {
        padding-top: 45px;
        padding-bottom: 8px;
        font-family: 'Lato';
        font-size: 20px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0em;

    }

    .gallery_text p {
        padding-bottom: 24px;
        font-family: Lato;
        font-size: 10px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
    }

    .gallery {
        display: none;
    }

    .slider {
        display: flex;
        justify-content: space-between;
    }

    .arrow {
        
    }

    .slider-image {
        background-image: url(../image/imageslider.png);
        background-position: center;
        background-size: cover;
        width: 242px;
        height: 257px;
        animation-name: sliding;
        animation-duration: 15s;
        animation-iteration-count: infinite;
    }

    .arrw {
        align-self: center;
    }

    @keyframes sliding {
        0% {background-image: url(../image/imageslider.png)}
        20% {background-image: url(../image/pic2.png)}
        40% {background-image: url(../image/pic3.png)}
        60% {background-image: url(../image/pic4.png)}
        80% {background-image: url(../image/pic5.png)}
        100% {background-image: url(../image/pic6.png)}
    }

    .view_button {
        padding-top: 24px;
        padding-bottom: 6px;
        text-align: center;
        position: relative;
    }
    
    .view_button button {
        background-color: transparent;
        padding: 9px 0px 9px 12px;
        font-family: 'Lato';
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        border: 1px solid #404040;
    
    }
    
    .arrow {
        padding: 19px 20px 19px 8px;
    }

    .our-clients h3 {
        padding-bottom: 8px;
        padding-top: 48px;
        font-size: 20px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0em;
    }

    .our-clients p {
        padding-bottom: 32px;
        font-size: 10px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
    }

    .logo_1 img {
        width: 110px;
        height: 38.2px;
    }

    .logo_2 img {
        Width: 109.46px;
        Height: 28px;
    }

    .logo_3 img {
        Width: 100.71px;
        Height: 42.3px;
    }

    .form-img {
        display: none;
    }

    .contact_me h2 {
        padding-top: 10px;
        color: #404040;
        font-size: 20px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0em;
    }
    
    .contact_me p {
        padding-top: 8px;
        padding-bottom: 0px;
        color: #404040;
        font-size: 10px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
    }

    .form_a {
        margin-top: 0px;
    }

    .form_b {
        display: flex;
        flex-direction: column;
        padding-bottom: 0px;
    }

    .form_a p{
        margin-top: 0px;
        padding-top: 16px;
        padding-bottom: 8px;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
    }

    .form_a input{
        height: 40px;
        width: 374px;
        border: 1px solid #404040;
        border-radius: 4px;
        margin-left: 0px;
    
    }

    .text_area {
        display: flex;
        flex-direction: column;
    }
    
    .text_area textarea {
        background-color: transparent;
        width: 374px;
        height: 141px;
        margin-left: 0px;
        border-radius: 4px;
    }

    .form_a button{
        background-color: transparent;
        margin-left: 0px;
        margin-top: 32px;
        margin-bottom: 56px;
        padding: 20px 65px 19px 66px;
        border: 1px solid #404040;
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
    }

    .footer-area p {
        color: #404040;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
    }
    
    

}
  
  
  
  